[package]
name = "azure-iot-sdk"
version = "0.5.1"
edition = "2021"
authors = ["Joerg Zeidler <joerg.zeidler@conplement.de>", "Jan Zachmann <jan.zachmann@conplement.de>"]
repository = "git@github.com:ICS-DeviceManagement/azure-iot-sdk.git"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
azure-iot-sdk-sys = { git = "ssh://git@github.com/ICS-DeviceManagement/azure-iot-sdk-sys.git", tag = "0.2.1" }
eis-utils = { git = "ssh://git@github.com/JanZachmann/eis-utils.git", rev = "e8dd31e2d91802a678500f39a9e319b483c35a72" }
serde_json = "1.0"
log = "0.4"
rand = "0.8"
